h1 {
    font-size: 65px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: 1px black;
    color: rgb(212, 18, 18);
}
.titleImage {
    display: block;
    margin: auto;
    margin-bottom: 100px;
    width: 600px;
    height: auto;
}
body {
    background: url(https://steamuserimages-a.akamaihd.net/ugc/848079540097334989/4CA855E4822031581153AB5E429DEE26959DE1DD/);
    background-size: contain;
    height: 100vh;
}
.IntroText {
    padding-right: 20px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: rgb(226, 222, 159);
    margin-left: 100px;
    margin-right: 200px;
    margin-right: 100px;
}
.danceGif {
    width: 250px;
    margin-bottom: 25px;
    margin-right: 25;
    width: 300px;
    margin-bottom: 50px;
    margin-right: 50;
}
.dancediv {
    max-width: 100%;
}
.pageLinks {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    background-color: gray;
    color: white;
    text-align: center;
}
.pageLinks > a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    background-color: gray;
    color: white;
    text-align: center;
}
.characterText {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
}
.characterText > ol > li {
    font-size: 40px;
    color: red;
}
.individualCharacterText {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    text-align: center;
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
table, th, tr, td {
    border: 1px,black;
    background-color: white;
}
.characterImage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 240px;
}