h1 {
    font-size: 65px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: 1px black;
    color: rgb(212, 18, 18);
}
.titleImage {
    display: block;
    margin: auto;
    margin-bottom: 100px;
    width: 600px;
    height: auto;
}
body {
    background-image: url(https://steamuserimages-a.akamaihd.net/ugc/848079540097334989/4CA855E4822031581153AB5E429DEE26959DE1DD/);
    background-size: contain;
    height: 100vh;
}
.IntroText {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: rgb(226, 222, 159);
    margin-left: 100px;
    margin-right: 300px;
}
.sideBarText {
    font-size: 15px;
    text-align: center;
    margin-left: 1100px;
    display: inline;
}
.sideBarTextTitle {
    font-size: 25px;
    text-align: center;
    margin-left: 1150px;
    display: inline;
}
.exampleMarkSheet {
    margin-left: 1200px;
}